version: '3.4'

services:
  emptyparcellocker.api:
    image: ${DOCKER_REGISTRY-}emptyparcellocker
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5033:5033"
    depends_on:
      - db
  db:
        image: "mcr.microsoft.com/mssql/server"
        environment:
            SA_PASSWORD: "Your_password123"
            ACCEPT_EULA: "Y"
        ports:
            - "1433:1433"
